body {
    background: black;
    font-family: 'bangers', cursive;
}

.container {
    color: whitesmoke;
}

h1 {
    font-size: 40px
}

h2 {
    font-size: 20px
}

#backgroundImg {
    width: 60%;
    height: auto;
    float: left;
}

.display2 {
    font-family: 'bangers', cursive;
    font-size: 24px;
    color: red;
    /* Typography */
    text-align: left;
}

#wrapper {
    /* Box-model */
    width: 400px;
    /* Typography */
    text-align: center;
    /* Positioning */
    margin: 50px auto 0;
    font-size: 44px;
    color: red;
    /* Visual */
}

d.main-button-container {
    margin-top: 175px;
    max-width: 610px;
    margin-left: auto;
    margin-right: auto;
}

.timer-p {
    margin-top: 40px;
    float: center;
    font-family: 'bangers', cursive;
    font-size: 30px;
    color: red;
    /* Typography */
    text-align: center;
    /* Visual */
    background: white;
}

.answer:hover {
    transition: .5s;
    /* Animation */
    opacity: 1;
    background: red;
    color: white;
}

.answer {
    height: 50px;
    color: red;
    padding-left: 14px;
    background-color: white;
    border-radius: 4px;
}

.img-wrong {
    margin-top: 20px;
}

.first-answer {
    margin-top: 40px;
}

.reset-button {
    margin-top: 40px;
}

.summary-correct {
    margin-top: 40px;
}

/*footer*/

footer {
    background: #666;
    color: #fff;
    padding: 30px 0;
    clear: both;
    border-top: 8px solid #4aaaa5;
    color: #ccc;
    font-size: 18px;
    text-align: center;
}